<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">

<head th:replace="fragments :: head">

</head>

<body id="container">
<h1>Games search page</h1>
<nav th:replace="fragments :: navigation"></nav>
<nav th:replace="fragments :: gameNav"></nav>
<h2 th:text="${heading}">Default Heading</h2>


<p th:unless="${games} and ${games.size()}">No games yet</p>
<ul th:each="game : ${games}">
    <li>
        <a th:href="'/game/view/'+${game.id}" th:text="${game.name}"></a>
    </li>
</ul>


</body>
</html>