<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">

<head th:replace="fragments :: head">

</head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>


<nav th:replace="fragments :: navigation"></nav>
<nav th:replace="fragments :: allGameNav"></nav>
<br />
<p th:unless="${games} and ${games.size()}">No games yet</p>
<ul th:each="game : ${games}">
    <li>
        <a th:href="'/game/view/'+${game.id}" th:text="${game.name}"></a>
    </li>
</ul>


</body>
</html>