<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<nav th:replace="fragments :: allGameNav"></nav>

<p>
<h1 th:text="${game.name}">Default Game</h1> | <a th:href="'/game/edit-game/'+${game.id}">Edit Game</a>
</p>
<p><strong>Player Count</strong></p>


<p><strong>Mechanics</strong></p>
<p th:unless="${game.mechanics.size()}">no mechanics added yet</p>
<ul>
    <li th:each="mechanic : ${mechanics}" th:text="${mechanic.name}"></li>
</ul>




</body>
</html>