<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head th:replace="fragments :: head"></head>

<body id="container">
<h1>Games search page</h1>
<nav th:replace="fragments :: navigation"></nav>
<nav th:replace="fragments :: playerNav"></nav>



<h2 th:text="${player.name}">Default Player</h2>
<p th:text="${player.bggName}"><strong>bggName</strong></p>
| <a th:href="'/player/edit-player/'+${player.id}">Edit Player</a>


<h3>Disliked Mechanics</h3>
<p th:unless="${player.mechanics.size()}">no mechanics added yet</p>
<ul>
    <li th:each="mechanic : ${player.mechanics}" th:text="${mechanic.name}"></li>
</ul>

<h3>Games</h3>
<p th:unless="${player.games.size()}">no games added yet</p>
<ul>
    <li th:each="game : ${player.games}" th:text="${game.name}"></li>
</ul>

</body>
</html>