<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head th:replace="fragments :: head"></head>

<body id="container">
<h1>Games search page</h1>
<nav th:replace="fragments :: navigation"></nav>
<nav th:replace="fragments :: viewPlayerNav"></nav>



<h2 th:inline="text">
    <span th:text="${player.name}" th:remove="tag">Default Name</span> -
    <small th:text="${player.bggName}">Default bggName</small></h2>

<div th:replace="fragments :: playerView"></div>

</body>
</html>