#container {
    margin: auto;
    width: 90%;
    border: none;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#navigation {
    width: 100%
}

#search {
    width: 100%;
}

#collections {
    width: 25%;
    float: left;
}

#players {
    width: 75%;
    float: right;
}

#disMechs {
    width: 25%;
    float: left;
}

#ownedGames {
    width: 75%;
    float: right;
}

#gameMechs {
    width: 25%;
    float: left;
}

#gameOwners {
    width: 75%;
    float: right;
}

#endColl {
    width: 25%;
    float: left;
}

#endPlayers {
    width: 75%;
    float: right;
}

#editLeft {
    width: 25%;
    float: left;
}

#editRight {
    width: 75%;
    float: right;
}

#button {
    margin: auto;
    clear: both;
}

.results {
    clear: both;
}

.clearfix {
    overflow: auto;
}
