<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Collection</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/">Main</a> -
    <a href="/game">Games</a> |
    <a href="/mechanic">Mechanics</a> |
    <a href="/player">Players</a>
</nav>

<nav th:fragment="allGameNav">
    <a href="/game/add">Add Game</a> |
    <a href="/game/remove">Remove Game</a>
</nav>

<nav th:fragment="mechNav">
    <a href="/mechanic/add">Add Mechanic</a>
</nav>

<nav th:fragment="playerNav">
    <a href="/player/add">Add Player</a> |
    <a href="/player/remove">Remove Player</a>
</nav>



</body>
</html>